extends layout

block content
  h1= books.title
  p= books.author
  p= books.genre
  p= books.year
  a(href="../") &larr; Back
  | | 
  a(href="/books/" + books.id + "/edit") Edit Article
  | | 
  a(href="/books/" + books.id + "/delete") Delete Article